html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;       
}

#success,
#failed {
    padding: 40px;
}

p {
    margin-top: 5px;
    margin-bottom: 0;
    display: block;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

p.ms-fontColor-themeLighterAlt  {
    opacity: 0.6;
    cursor: pointer;
}

p.ms-fontColor-themeLighterAlt:hover {
    opacity: 0.6;
    text-decoration: underline;    
}

p.ms-fontColor-themeLighterAlt:active {
    opacity: 0.8;
    text-decoration: underline;
}